<% if (typeof alert !== 'undefined' && alert) { %>
<div class="alert alert-<%= typeof alertType !== 'undefined' ? alertType : 'success' %> alert-dismissable fade show" role="alert">
    <%= alert %>
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>